body {
    color: #333;
    font-family: Lato, sans-serif;
    background-color:#e4e4e4;
}
.main-container{
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius:10px;
    background-color: #ffffff;
    padding: 20px;
}

.heading{
    text-align: center;
}
hr{
    height: 1px;
    background-color: rgb(213, 242, 68); 
}
.todo-add-container{
    margin-top: 30px;
    width: 100%;
    margin-bottom: 80px;
}
.task{
    height: 30px;
    width: 550px;
    font-size: 18px;
}
.add-button{
    height: 35px;
    width: 120px;
    background-color: transparent;
    cursor: pointer;
}
.task-list{
    list-style: none;
    margin-bottom: 10px;
}
.tasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.task-checkbox{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.task-name{
    font-size: 20px;
}
.delete{
    height: 30px;
    width: 80px;
    background-color: transparent;
}

.button-container{
    display: flex;
    flex-direction: column;
    margin-left: 400px;
}

.delete-button{
    height: 20px;
    width: 80px;
    background-color: transparent;
    margin-bottom: 20px;
    border: none;
}

.complete-task-name{
    text-decoration: line-through;
}
.complete-button{
    height: 20px;
    width: 80px;
    background-color: transparent;
    border: none;
}

.hr-line{
    background-color: rgb(232, 217, 217);
    height: 1px;
}

.complete-hr-line{
    background-color: rgb(232, 217, 217);
    height: 1px;
}